body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}
a {
    color: white;
}
.container {
    width: 80%;
    margin: auto;
}
.section {
    margin-bottom: 20px;
}



